<!DOCTYPE html>
<html lang="{{@site.locale}}" {{!--{{#match @custom.color_scheme "Dark"}} class="dark-mode" {{else match @custom.color_scheme "Auto"}} class="auto-color" {{/match}}!--}}>
<head>

  {{!-- Basic meta --}}
  <title>{{meta_title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" as="style" href="{{asset "built/screen.css"}}">
  {{!-- <link rel="preload" as="script" href="{{asset "built/wexplore.js"}}"> --}}

  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}">

  {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
  it should always be the last tag before the closing head tag --}}
  {{ghost_head}}

</head>
<body>
  {{{body}}}
  {{ghost_foot}}
</body>
</html>